doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <script src='https://www.google.com/recaptcha/api.js'></script>
    //script(type="text/javascript", src="/javascripts/steem.min.js")
  body
    block content
